<%= form_for @recipe do |f| %>

   <p>
   <%= f.label :name %><br>
   <%= f.text_field :name %>
   </p>

   <p>
   <%= f.label :prep_time %><br>
   <%= f.text_field :prep_time %>
   </p>

   <p>
   <%= f.label :cook_time %><br>
   <%= f.text_field :cook_time %>
   </p>

   <p>
   <%= f.submit %>
   </p>
   
<% end %>
