<h1>My Recipes</h1>


<% @recipes.each do |recipe| %>
    <%= recipe.name %>
    <%= recipe.prep_time %>
    <%= recipe.cook_time %>
    <%= link_to "Show", recipe_path(recipe) %>
    <%= link_to "Edit", edit_recipe_path(recipe) %>
    <%= link_to "Destroy", recipe, method: :delete %>
<% end %>
