<%= form_for([@step, @step.ingredients.build]) do |f| %>
  <p>
    <%= f.label :measurements %><br>
    <%= f.text_field :measurements %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
